$tablet: 960px;
$sp: 520px;

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  // height: 100%;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  animation: fadeIn 1s ease-in-out 0s 1 normal;
  -webkit-animation: fadeIn 1s ease-in-out 0s 1 normal;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  height: calc(100vh - 400px);
  margin: 100px 100px 50px 100px;
  flex: 1;
  overflow-y: scroll;

  h2 {
    @media screen and (max-width: $tablet) {
      margin-bottom: 1rem;
    }
    @media screen and (max-width: $sp) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
  @media screen and (max-width: $tablet) {
    padding: 2.5rem;
  }
  @media screen and (max-width: $sp) {
    height: 80%;
    margin: 0;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  ul {
    list-style-type: none;
    @media screen and (max-width: $tablet) {
      padding: 2.5;
    }
    @media screen and (max-width: $sp) {
      padding-left: 1rem;
    }
    li {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      p {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
        @media screen and (max-width: $tablet) {
          // font-size: 2rem;
        }
        @media screen and (max-width: $sp) {
          font-size: 1.3rem;
        }
      }
      ul {
        padding-left: 1.5rem;
        @media screen and (max-width: $tablet) {
          // font-size: 2rem;
        }
        @media screen and (max-width: $sp) {
          font-size: 1.2rem;
        }
        li {
          ul {
            padding-left: 4.5rem;
            ul {
              padding-left: 16.8rem;
            }
          }
        }
      }
    }
  }
}

.container::-webkit-scrollbar {
  width: 0.8rem;
}
.container::-webkit-scrollbar-track {
  background-color: none;
}
.container::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
}
