$tablet: 960px;
$sp: 520px;

.wrapper {
  animation: fadeIn 1s ease-in-out 0s 1 normal;
  -webkit-animation: fadeIn 1s ease-in-out 0s 1 normal;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.container {
  width: 80vw;
  margin: 5vw auto 0.2vw;
  min-height: calc(100vh - 183.5px);
}

img {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  // -webkit-touch-callout: none;
  user-select: none;
  object-fit: cover;
}
