$tablet: 960px;
$sp: 520px;

.wrapper {
  // display: flex;
  // width: 100%;
  // align-items: center;
  // justify-content: center;
  // @media screen and (max-width: $tablet) {
  //   font-size: 1.2rem;
  // }
  // @media screen and (max-width: $sp) {
  //   font-size: 1rem;
  // }
  width: 100vw;
  // height: 5vw;
  display: block;
  position: relative;
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: $tablet) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: $sp) {
      font-size: 1rem;
    }
  }
}
