$tablet: 960px;
$sp: 520px;

.wrapper {
  display: flex;
  width: 100%;
  // margin-top: 90px;
  align-items: center;
  justify-content: center;
  // margin-top: auto;
  position: absolute;
  bottom: 0;
  @media screen and (max-width: $tablet) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: $sp) {
    font-size: 1rem;
  }
}
