$tablet: 960px;
$sp: 520px;

.wrapper {
  display: flex;
  justify-content: start;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  @media screen and (max-width: $tablet) {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  @media screen and (max-width: $sp) {
    padding-top: 0;
    padding-left: 1rem;
  }
  h1 {
    color: #262626;
    @media screen and (max-width: $tablet) {
      font-size: 2rem;
    }
    @media screen and (max-width: $sp) {
      font-size: 1.7rem;
    }
  }
}
