$tablet: 960px;
$sp: 520px;

.wrapper {
  display: flex;
  justify-content: start;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  overflow: hidden;
  @media screen and (max-width: $tablet) {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
  @media screen and (max-width: $sp) {
    padding-top: 0;
    padding-left: 1rem;
  }
  img {
    width: 6rem;
    @media screen and (max-width: $tablet) {
      width: 6rem;
    }
    @media screen and (max-width: $sp) {
      padding-top: 0.5rem;
      width: 5rem;
    }
  }
}
.logo:hover {
  animation: shiver 0.1s infinite;
}

@keyframes shiver {
  0% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}
